@import url("/css/pluto/editor.css");
@import url("/css/pluto/dark_color.css");
@import url("/css/pluto/light_color.css");

@media (prefers-color-scheme: light) {
  :root {
    /* Link decorations */
    --a-text-decoration: underline;

    /* Header link decorations */
    --h-a-text-decoration: none;
    --h-a-color: inherit;
    --h-hover-a-color: darkgray;

    --short-title-color: #002147;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Link decorations */
    --a-text-decoration: underline;

    /* Header link decorations */
    --h-a-text-decoration: none;
    --h-a-color: inherit;
    /* While hovering */
    --h-hover-a-color: rgba(255, 255, 255, 0.4);

    --short-title-color: rgba(255, 255, 255, 0.4);
  }
}

main {
  max-width: none;
  position: relative;
}

body {
  /* background:rgb(58, 135, 177); */
  counter-reset: eqnum;
  width: 100vw;
  position: relative;

  /* Pluto */
  background-color: var(--main-bg-color);
}


/* Pluto table of contents */
@media (max-width: 767px) {
  .plutoui-toc {
    display: none;
  }
}

main>.container {
  padding: 60px 15px 0;
}

main a {
  color: inherit;
  text-decoration: var(--a-text-decoration);
}

/* To hover over links */
main a:hover {
  color: var(--bs-gray-dark);
  ;
}

@media (prefers-color-scheme: dark) {
  main a:hover {
    color: rgba(255, 255, 255, 0.4);
  }
}

.alert-secondary {
  background: rgba(0, 125, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  .alert-secondary {
    background: rgba(255, 255, 255, 0.25);
    color: darkgray;
  }
}

/*  NAVIGATION  */

/* Page title in navigation area */
.nav-link.active {
  font-weight: 500;
}

/* Navigation bar area */
nav .container-fluid {
  max-width: 54em;
  margin-left: auto;
  margin-right: auto;
}

#main-name {
  font-weight: 500;
}

#main-nav {
  flex-direction: row;
  padding-left: .5em;
  margin-left: 1em;
  border-left: 1px solid white;
}

#title-nav {
  flex-direction: row;
}

#post-title {
  padding-left: .5em;
  margin-left: 1em;
  border-left: 1px solid white;
}

.nav-item#post-title a.nav-link.active {
  color: var(--bs-info);
}

@media (max-width: 767px) {
  ul#main-nav li.nav-item {
    padding-right: .5em;
    padding-left: .5em;
  }

  #title-nav {
    padding-left: 0;
  }

  #post-title {
    padding-left: 1em;
  }
}

@media (max-width: 620px) {
  #main-nav {
    margin-right: auto !important;
  }

  #title-nav {
    width: 100%;
  }

  #post-title {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
  }
}

/* FOOTER */

footer .text-muted a {
  color: inherit;
}

footer .text-muted a:hover {
  color: var(--oxb);
}

/* Headers */
/* Many of the values here are directly copied from `pluto/editor.css` */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--pluto-output-h-font-family);
  font-feature-settings: var(--pluto-output-h-font-feature-settings);
  font-weight: var(--pluto-output-h-font-weight);
  color: var(--pluto-output-h-color);
  margin-block-start: 1rem;
  margin-block-end: 0rem;
}

/* Header link decorations */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: var(--h-a-text-decoration);
  color: var(--h-a-color);
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: var(--h-a-text-decoration);
  color: var(--h-hover-a-color);
}

h1,
h2 {
  font-weight: 700;
  margin-block-start: 2rem;
}

h1:first-child,
h2:first-child {
  margin-block-start: calc(2rem - var(--pluto-cell-spacing));
}

h1 {
  font-size: 2.2rem;
  border-bottom: 3px solid var(--rule-color);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 2px dotted var(--rule-color);
  margin-bottom: 0.5rem;
}

h1:empty,
h2:empty {
  border-bottom: none;
}

h3 {
  font-size: 1.6rem;
  /* border-bottom: 2px dotted rgba(0,0,0,.15); */
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-block-start: 0px;
}

.container {
  width: 100vw;
  max-width: 60em;
  /* background: rgba(51, 171, 249, 0.8); */
  padding: 0;
}

.container h2,
h3 {
  padding-top: 1em;
}

.container h1,
h2,
h3 {
  padding-bottom: .25em;
}


/* Pluto editor */
.fullscreen {
  /* width: 100vw; */
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0 0 0 0;
  /* max-width: 80em; */
}

pluto-editor {
  margin: 0;
  padding: 0 0 0 0;
  border: 0 0 0 0;
}


pluto-editor main {
  padding: 0;
  margin: 0;
}

pluto-editor main preamble {
  height: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

pluto-editor main pluto-notebook {
  align-items: center;
}

pluto-editor footer {
  display: none !important
}

.resume-container {
  max-width: 760px;
}

@media (min-width: 40em) {
  .resume-container  {
    font-size: 18px
  }
}

.posts-container {
  max-width: 1760px;
}

@media (min-width: 40em) {
  .posts-container {
    font-size: 18px
  }
}

.list ul {
  padding-left: 0;
  list-style: none;
}

.list li {
  display: block;
  margin-bottom: 5px;
}

.list span.post-date {
  float: right;
  color: #767676;
  padding-left: 30px;
  font-size: 90%;
  font-family: var(--bs-font-sans-serif);
}

.list a {
  font-weight: 450;
}

/* MATHS */


.katex {
  font-size: 1em !important;
}

.katex-display .katex {
  display: inline-block;
}

/* overwrite katex settings */

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}


.colbox-blue {
  background-color: #EEF3F5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 1em;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid #4C9CF1;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
  font-style: italic;
}

li p {
  margin-bottom: 0.25em;
}

/* HEADER ANCHORING */

:target[id] {
  margin-top: -70px;
  padding-top: 80px;
}

@media (max-width: 768px) {
  :target[id] {
    margin-top: -90px;
    padding-top: 130px;
  }
}

header nav {
  height: 60px;
}

/* CODE AND HIGHLIGHTING */
/* Inherit coding from `pluto/editor.css` so it looks like Julia code */
.hljs {
  font-size: 14px;
  padding-left: 1em;
  border: 1px solid var(--cm-editor-tooltip-border-color);
  border-radius: 4px;
  box-shadow: 3px 3px 4px rgb(0 0 0 / 20%);
  background-color: var(--code-background);
  color: var(--cm-var-color);
  font-weight: 700;
  font-size: 0.75rem;
  overflow: auto;
}

.hljs-literal {
  color: darkblue;
}

.hljs-string {
  color: var(--cm-keyword-color);
  font-weight: normal;
}

.hljs-keyword {
  color: var(--cm-keyword-color);
  font-family: var(--julia-mono-font-stack) !important;
  font-variant-ligatures: none;
  font-size: 0.75rem;
  font-weight: var(--pluto-output-font-weight);
}

.hljs-comment,
.hljs-quote {
  color: var(--cm-comment-color);
  font-weight: var(--pluto-output-font-weight);
  font-style: italic;
}

.hljs-metaj,
.hljs-metas,
.hljs-metap {
  font-weight: bold;
}

.hljs-metaj {
  color: rgb(25, 179, 51);
}

.hljs-metas {
  color: red;
}

.hljs-metap {
  color: rgb(51, 131, 231);
}

pre code.plaintext {
  background-color: #dbebe0;
}

/* LIST NESTING */

ol li ol li {
  list-style-type: lower-roman;
}

.img-small img {
  width: 75%;
  text-align: center;
  padding-left: 20%;
}

.eqref {
  color: magenta;
}

.eqref a {
  text-decoration: none;
}

/* TABLES */

.ctable table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

.ctable tr:first-of-type {
  background: #eae9f4;
}

.ctable tr:first-of-type>th {
  text-align: center;
}

.ctable tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

.ctable table tbody tr td {
  border: 1px solid lightgray;
}

span.post-descr {
  float: none;
  font-style: italic;
  font-family: var(--bs-font-sans-serif);
  color: var(--short-title-color);
  font-size: 90%;
}

.list a:hover {
  color: grey;
}

.tags {
  font-family: var(--bs-font-sans-serif);
}

.tag-link {
  font-size: 120%;
}

a.tag-link:hover {
  color: #f93
}

.tag-count {
  font-size: 120%;
  padding-right: 1.5em;
}


.tagslist {
  line-height: 2.25em;
  max-width: 90%;
}

/* Tag item */
.tags a {
  color: black;
}

/* Invert color in dark, otherwise won't be visible */
@media (prefers-color-scheme: dark) {
  .tags a {
    color: rgba(255, 255, 255, 0.85);
  }
}

h3 {
  font-size: 1.5rem;
}

pre {
  position: relative;
  /* padding: 30px; */
}

.copy-button {
  cursor: pointer;
  border: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 6px 10px 10px;
  color: #795548;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active {
  outline: 0;
  background-color: #eee9e6;
}

.tags {
  color: var(--bs-secondary);
  font-size: large;
  font-style: oblique;
  padding-bottom: 1.5rem;
  /* font-variant:  */
}

.tags a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a#tag-icon {
  border-bottom: none;
  padding-right: 5px
}

span.bibref a:hover {
  color: olive;
}

.reduce-vspace>img {
  margin-top: -2em;
}

body>main {
  margin: 0;
  color: var(--oxb);
  align-content: center;
  align-self: center;

  /* From Pluto */
  font-family: var(--pluto-output-font-family);
  font-weight: var(--pluto-output-font-weight);
  font-size: var(--pluto-output-font-size);
  color: var(--pluto-output-color);
}

@media (prefers-color-scheme: dark) {
  main {
    margin: 0;
    padding: 0;
    color: var(--cm-editor-text-color);
    align-content: center;
    align-self: center;
    background: var(--main-bg-color);
  }
}

#binder_launch_help:hover {
  text-decoration: none;
  font-weight: 600;
}

#binder_launch_help:hover b {
  color: black;
}

/* To remove Julia variable underlining, keep the following block */
[data-pluto-variable] {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .bg-light {
    background-color: rgba(255, 255, 255, 0.25) !important;
  }

  .text-muted {
    color: rgba(255, 255, 255, 0.75) !important;
  }
}
